@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,700;1,600&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,700&display=swap';

:root {
    --primary-color: rgba(1,181,192,100%);
    --secondary-color: rgba(214,243,245,100%);
    --title-font-size-primary: 32px 800 #000;
    --title-font-size-secondary: 24px 600 #000;
    --title-font-size-secondary-white: 24px 600 #fff;
    --title-emphasis: rgba(155,145,145,100%);
    --text-primary:18px 400 #000;
    --text-primary-white:18px 400 #fff;
    --text-button: 24px 600 #fff;
}

html,
body {
    font-family: 'Poppins',
        sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}